body {
    background-image: url(images/jjk.jpg);
    min-height: 80vh;
    background-size: cover;
    background-position: center;

}

header {
    width: 100%;
    background: transparent;
    padding: 10px;
    display: flex;
}

.navbar a {
    margin: 0px;
    text-decoration: none;
    color: aliceblue;
    padding-top: 10px;
}

.navbar a {
    margin: 20px 30px;
}

.navbar a:hover {
    color: coral;
}

.search {
    height: 28px;
    width: 20%;
    float: right;
    background: transparent;
    margin-left: 396px;
    margin-top: -17px;

}

.navbar input {
    border-radius: 15px;
    height: 22px;
    width: 170px;
}

.slider {
    height: 350px;
    width: 90%;
    display: grid;
    place-items: center;
    background-size: 100% 100%;
    animation: slider 10s linear infinite;
    background-position: center;
    margin: 55px;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px, rgb(51, 51, 51) 0px 0px 0px 3px;
    ;

}

@keyframes slider {
    0% {
        background-image: url(images/slider\ image1.jpeg);
    }

    25% {
        background-image: url(images/slider\ image2.jpeg);
    }

    50% {
        background-image: url(images/slider\ image3.jpeg);
    }

    75% {
        background-image: url(images/slider\ imae4.jpeg);
    }

    100% {
        background-image: url(images/slider\ image5.jpeg
);
    }

}

footer {
    background-color: black;
    width: 100%;
    height: 90px;
    color: aliceblue;
    text-align: center;
}

footer .a {
    margin: 25px;
}

p {
    margin-top: -15px;
}

.slider {
    text-align: center;
    color: aliceblue;
    background-color: back;
}